@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model List<Cadete>
<div>
    <form asp-action="CrearPedido" asp-controller="Pedidos" method="post">
        <div class="form-group col-6">
            <label for="nombre">Nombre</label>
            <input type="text" class="form-control" id="nombre" name="nombre">

            <label for="dni">DNI</label>
            <input type="number" class="form-control" id="dni" name="dni">

            <label for="direccion">Direccion</label>
            <input type="text" class="form-control" id="direccion" name="direccion">

            <label for="telefono">Telefono</label>
            <input type="number" class="form-control" id="telefono" name="telefono">

            <label for="observaciones">Observaciones</label>
            <input type="text" class="form-control" id="observaciones" name="Observaciones">

            <label for="cadetes">Cadete</label>
            <select class="custom-select" id="cadetes" name="idCadete">
                <option selected="selected">Seleccione un cadete</option>
                @foreach (Cadete unCadete in Model)
                {
                    <option value="@unCadete.Id">@unCadete.Nombre</option>
                }
            </select>
            <div class="text-center mt-2">
                <button type="submit" class="btn btn-primary">Crear Pedido</button>
            </div>
        </div>
        
    </form>
</div>