@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model List<Pedido> 

<div class="text-center">
    <h1 class="display-4">Lista de Pedidos</h1>

    <div >
        <a class="btn btn-primary" asp-action="CrearPedido"> Crear Pedido</a>
    </div>


    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Observaciones</th>
                <th scope="col">Estado</th>
                <th scope="col">Cliente</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>

                <th scope="row"> @item.Nro</th>
                <td>@item.Observaciones</td>
                <td> @item.Estado</td>
                <td> @item.Cliente.Nombre</td>
            </tr>
            }
        </tbody>
    </table>

</div>