@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Cadete

<div>
    <form asp-action="EditarCadete" asp-controller="Cadetes" method="post">
        <div class="form-group col-6">
            <label for="nombre">Nombre</label>
            <input type="text" class="form-control" id="nombre" name="nombre" placeholder="@Model.Nombre">

            <label for="direccion">Direccion</label>
            <input type="text" class="form-control" id="direccion" name="direccion" placeholder="@Model.Direccion">

            <label for="telefono">Telefono</label>
            <input type="number" class="form-control" id="telefono" name="telefono" placeholder="@Model.Telefono">

            <div class="text-center mt-2">
                <button type="submit" class="btn btn-primary">Crear Cadete</button>
            </div>
            <input id="IdCadete" name="IdCadete" type="hidden" value="@Model.Id">
        </div>

    </form>
</div>